.card
  .inner-card
    .to-form-header Jobs
    #list-item.flex
    - @jobs.each do |job|
      #form-grid  
        #form-name= job.name
        #form-button-area
          %button.to-button Remove
    .add-field
      %input.add-field-placeholder{placeholder: "Add new job"}
      %button.button Add