.list-card
  .form-header Jobs
  #list-item.flex
  - @jobs.each do |job|
    #list-grid  
      #list-name= job.name
      #list-button-area
        %button.button Remove
  #list-grid
    %input.form-input-field{placeholder: "Add new job"}
    #list-button-area
      %button.button Add
    = link_to "Add New Job", new_job_path, class: "button", remote: true
