.div.w-full.fullscreen.container.mx-auto
    %h1.text-center.mt-6 Create New Job
    = form_with scope: :job, url: root_path, local: true, class: "px-4 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-6" do |form|
        = form.label :name, class: "block text-grey-darker text-sm font-bold mb-2"
        = form.text_field :name, placeholder: "Name", class: "shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline"
        = form.submit value: "Submit", class: "bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 my-4 rounded focus:outline-none focus:shadow-outline"