.grid-container
  #sidebar
    = render partial: 'partials/sidebar'
  #jobs
    %h1= t :jobs
    %table
      %tr
        %td Job 1
        %td Posted
        %td
          %button Edit
        %td
          %button -
      %tr
        %td Job 2
        %td Posted
        %td
          %button Edit
        %td
          %button -
  #shifts

.card
  .inner-card
    .card-title
      %h1 Staffing Companies
    #list-item.flex
    - @staffcos.each do |staffcos|
      #hospname
        %p= staffcos.name
      #hosp-button
        %button.button Remove
    .add-field
      %input.add-field-placeholder{placeholder: "Add Staffing Companies"}
      %button.button Add