#jobs
  %h1= t :jobs
  %table
    %tr
      %td Job 1
      %td Posted
      %td
        %button Edit
      %td
        %button -
    %tr
      %td Job 2
      %td Posted
      %td
        %button Edit
      %td
        %button -
