.grid-container
  #sidebar
    %ul
    %li 
    %button.ca-button Jobs
    %li 
    %button.ca-button Hospitals
    %li 
    %button.ca-button Staffing Companies
  #jobs
    %h1 Jobs
    %ul
    %li 
    %p Job 1
  #shifts
    %p Hello