.grid-container
  .sidebar
    %p Hello
  .jobs
    %p Hello
  .shifts
    %p Hello

-# #sidebar.right-grid.bg-grey-lighter.shadow.w-64.h-screen
-#     %ul.list-reset 
-#         %li
-#         %a.block.p-6.text-grey-darker.font-bold.border-grey-lighter.hover:border-purple-light.hover:bg-grey-lighter.border-r-8{:href => "#"} Jobs
-#         %li
-#         %a.block.p-6.text-grey-darker.font-bold.border-grey-lighter.hover:border-purple-light.hover:bg-grey-lighter.border-r-8{:href => "#"} Hospitals
-#         %li
-#         %a.block.p-6.text-grey-darker.font-bold.border-grey-lighter.hover:border-purple-light.hover:bg-grey-lighter.border-r-8{:href => "#"} Staffing Companies

