#header.flex.items-center.justify-between.flex-wrap.bg-grey-darkest.px-16.py-6
  %span.font-semibold.text-4xl.text-white.tracking-tight RSC Dashboard
  .w-full.block.flex-grow.lg:flex.lg:items-center.lg:w-auto 
  = link_to_unless_current 'English', locale: 'en' 
  = link_to_unless_current 'Svenska', locale: 'sv' 
  
