#header.flex.items-center.justify-between.flex-wrap.bg-grey-darkest.px-16.py-6
  %span.font-semibold.text-4xl.text-white.tracking-tight RSC Dashboard
  .w-full.block.flex-grow.lg:flex.lg:items-center.lg:w-auto
    %div
      %a.inline-block.text-sm.px-4.py-2.leading-none.border.rounded.text-white.border-white.hover:border-transparent.hover:text-teal.hover:bg-white.mt-4.ml-6.lg:mt-0{:href => "#"} Logout

  -# .flex.items-center.flex-no-shrink.text-white.mr-6
