%nav.flex.items-center.justify-center.flex-wrap.bg-grey-darkest.px-16.py-6
  .flex.items-center.flex-no-shrink.text-white.mr-6
    %svg.fill-current.h-8.w-8.mr-2{height: "60", viewbox: "0 0 60 60", width: "60", xmlns: "http://www.w3.org/2000/svg"}
    %span.font-semibold.text-4xl.tracking-tight= link_to "RSC Dashboard", root_path