.wrapper.flex.flex-wrap.min-h-screen.font-sans.leading-normal
  %main.w-full.flex-no-shrink.bg-grey-light.p-8{class: "lg:w-3/5"}
    %aside.w-full.bg-grey-darkest.flex-no-shrink.text-white.p-8{class: "lg:w-2/5"}
      %h2.mb-4 Sidebar Content