.grid-container
  #sidebar
    #main
      .bg-grey-darkest.relative.h-full.min-h-screen
        .xl:py-2
          .group.relative.sidebar-item.with-children
            %a.block.xl:flex.xl:items-center.text-center.xl:text-left.shadow-light.xl:shadow-none.py-6.xl:py-2.xl:px-4.border-l-4.border-transparent.hover:bg-black{:href => "#"}
              %svg.h-6.w-6.text-grey-darker.fill-current.xl:mr-2{:height => "24", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                %path.heroicon-ui{:d => "M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zM5.68 7.1A7.96 7.96 0 0 0 4.06 11H5a1 1 0 0 1 0 2h-.94a7.95 7.95 0 0 0 1.32 3.5A9.96 9.96 0 0 1 11 14.05V9a1 1 0 0 1 2 0v5.05a9.96 9.96 0 0 1 5.62 2.45 7.95 7.95 0 0 0 1.32-3.5H19a1 1 0 0 1 0-2h.94a7.96 7.96 0 0 0-1.62-3.9l-.66.66a1 1 0 1 1-1.42-1.42l.67-.66A7.96 7.96 0 0 0 13 4.06V5a1 1 0 0 1-2 0v-.94c-1.46.18-2.8.76-3.9 1.62l.66.66a1 1 0 0 1-1.42 1.42l-.66-.67zM6.71 18a7.97 7.97 0 0 0 10.58 0 7.97 7.97 0 0 0-10.58 0z"}
              .text-white.text-xs Jobs
          .group.relative.sidebar-item.with-children
            %a.block.xl:flex.xl:items-center.text-center.xl:text-left.shadow-light.xl:shadow-none.py-6.xl:py-2.xl:px-4.border-l-4.border-blue-dark.xl:bg-black.bg-black.xl:opacity-75{:href => "#"}
              %svg.h-6.w-6.text-grey-darker.fill-current.xl:mr-2{:height => "24", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                %path.heroicon-ui{:d => "M15 19a3 3 0 0 1-6 0H4a1 1 0 0 1 0-2h1v-6a7 7 0 0 1 4.02-6.34 3 3 0 0 1 5.96 0A7 7 0 0 1 19 11v6h1a1 1 0 0 1 0 2h-5zm-4 0a1 1 0 0 0 2 0h-2zm0-12.9A5 5 0 0 0 7 11v6h10v-6a5 5 0 0 0-4-4.9V5a1 1 0 0 0-2 0v1.1z"}
              .text-white.text-xs Hospitals
          .group.relative.sidebar-item.with-children
            %a.block.xl:flex.xl:items-center.text-center.xl:text-left.shadow-light.xl:shadow-none.py-6.xl:py-2.xl:px-4.border-l-4.border-transparent.hover:bg-black{:href => "#"}
              %svg.h-6.w-6.text-grey-darker.fill-current.xl:mr-2{:height => "24", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                %path.heroicon-ui{:d => "M2 15V5c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v15a1 1 0 0 1-1.7.7L16.58 17H4a2 2 0 0 1-2-2zM20 5H4v10h13a1 1 0 0 1 .7.3l2.3 2.29V5z"}
              .text-white.text-xs Staffing Companies
          .group.relative.sidebar-item.with-children
            %a.block.xl:flex.xl:items-center.text-center.xl:text-left.shadow-light.xl:shadow-none.py-6.xl:py-2.xl:px-4.border-l-4.border-transparent.hover:bg-black{:href => "#"}
              %svg.h-6.w-6.text-grey-darker.fill-current.xl:mr-2{:height => "24", :viewbox => "0 0 24 24", :width => "24", :xmlns => "http://www.w3.org/2000/svg"}
                %path.heroicon-ui{:d => "M2 15V5c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v15a1 1 0 0 1-1.7.7L16.58 17H4a2 2 0 0 1-2-2zM20 5H4v10h13a1 1 0 0 1 .7.3l2.3 2.29V5z"}
              .text-white.text-xs Create RSC Account

    -# = link_to t(:jobs),  root_path, class: 'header-button', remote: true
    -# = link_to t(:hospitals), hospitals_path, class: 'header-button', remote: true
    -# = link_to t(:staffcos) , staffcos_path, class: 'header-button', remote: true
    -# = link_to "Create RSC account", new_user_path, class: 'header-button', remote: true
