#sidebar.font-sans.flex.flex-col.text-center.sm:flex-row.sm:text-left.sm:justify-between.py-4.px-6.bg-white.shadow.sm:items-baseline.w-full
    .mb-2.sm:mb-0
        %a.text-2xl.no-underline.text-grey-darkest.hover:text-blue-dark{:href => "/home"} Home
    %div
        %a.text-lg.no-underline.text-grey-darkest.hover:text-blue-dark.ml-2{:href => "/one"} Jobs
        %a.text-lg.no-underline.text-grey-darkest.hover:text-blue-dark.ml-2{:href => "/two"} Hospitals
        %a.text-lg.no-underline.text-grey-darkest.hover:text-blue-dark.ml-2{:href => "/three"} Staffing Companies