#sidebar.bg-white.shadow.w-64.my-2
  %ul.list-reset
    %li
      %a.block.p-4.text-grey-darker.font-bold.border-purple.hover:bg-grey-lighter.border-r-4{:href => "#"} Home
    %li
      %a.block.p-4.text-grey-darker.font-bold.border-grey-lighter.hover:border-purple-light.hover:bg-grey-lighter.border-r-4{:href => "#"} Jobs
    %li
      %a.block.p-4.text-grey-darker.font-bold.border-grey-lighter.hover:border-purple-light.hover:bg-grey-lighter.border-r-4{:href => "#"} Hospitals
    %li
      %a.block.p-4.text-grey-darker.font-bold.border-grey-lighter.hover:border-purple-light.hover:bg-grey-lighter.border-r-4{:href => "#"} Staffing Companies