#rightbar
  .list-card
    .form-header Departments 
    .list-item.flex
    - @departments.hospitals.each do |department|
      .list-grid
        .list-name= department.name
        .list-button-area
          %button.button Remove