.card
  .inner-card
    .card-text
      %h1 Hospitals 
    #list-item.flex
    - @hospitals.each do |hospital|
      #form-grid
        #form-name= hospital.name
        #form-button
          %button.button Remove
    .add-field
      %input.add-field-placeholder{placeholder: "Add Hospitals"}
      %button.button Add