.card
  .inner-card
    .card-title
      %h1 Hospitals 
    #list-item.flex
    - @hospitals.each do |hospital|
      #hospname
        %p= hospital.name
      #hosp-button
        %button.button Remove
    .add-field
      %input.add-field-placeholder{placeholder: "Add Hospitals"}
      %button.button Add