.card
  .innercard
    .cardtitle
      %h1 Hospitals 
      #listitem
      - @hospitals.each do |hospital|
        %p.w-full.text-grey-darkest= hospital.name
        %button.button Remove
      .addfield
        %input.addfieldplaceholder, placeholder: "Add Hospitals"
        %button.button Add

