@tailwind preflight;

@tailwind components;

@tailwind utilities;

.grid-container {
    display: grid;
    height: 90vh;
    grid-template-columns: 0.2fr 0.9fr 0.3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar jobs shifts";
}
  
#header {
    display: flex;
    flex-wrap: wrap;
    @apply bg-grey-darkest px-16 py-6 ;
    h1 {
        @apply font-semibold text-4xl text-white tracking-tight w-full flex-grow ;
    }
}

#sidebar { 
    grid-area: sidebar;
    background-color: lightgray;
    display: grid;
    justify-content: center;
    align-content: start;
    li {
        margin: 10px;
        list-style-type: none;
    }
}
  
#jobs { 
    grid-area: jobs;
    h1{
        text-align: center;
        padding: 15px;
        @apply font-semibold text-4xl text-grey-darkest tracking-tight ;
    }
    table {
        width: 90%;
        padding: 5px;
    
        td {
            align-content:right;
        }   
          
        tr {
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
            @apply ml-6 py-4 px-3 bg-grey-light rounded ;
        }
    }
}

#shifts { 
    grid-area: shifts;
}

.zdh-button {
    @apply bg-blue text-white ml-4 py-2 px-3 no-underline rounded ;
}