@tailwind preflight;

@tailwind components;

@tailwind utilities;

.grid-container {
    display: grid;
    height: 90vh;
    grid-template-columns: 0.2fr 0.9fr 0.3fr;
    grid-template-rows: 1fr;
    // grid-gap: 10px;
    // margin: 10px 5px;
    grid-template-areas: "sidebar jobs shifts";
}
  
#sidebar { 
    grid-area: sidebar;
    // border: dashed black;
    background-color: lightgray;
    display: grid;
    justify-content: center;
    align-content: start;
    li {
        margin: 10px;
        list-style-type: none;
    }
}
  
#jobs { 
    grid-area: jobs;
    // border: dashed black;
    display: grid;
    justify-content: center;
    align-content: start;
    li {
        margin: 5px;
        align-items: left;
        list-style-type: none;
    } 
}
  
#shifts { 
    grid-area: shifts;
    border: dashed black; 
}

.ca-button {
    @apply bg-blue text-white ml-4 py-2 px-3 no-underline rounded ;
}

.ca-button:hover {
    @apply bg-blue-light ;
}

.ca-button-transparent {
    @apply flex-no-shrink border-transparent border-4 text-grey text-sm py-1 px-2 rounded ;
}

.ca-button-transparent:hover {
    @apply text-grey-darker ;
}

.header {
    @apply px-10 py-10 text-left bg-blue-dark text-white text-2xl ;
} 

.ca-header-link {
    @apply inline-block py-2 px-3 text-grey-darkest no-underline ;
}

.ca-header-link:hover {
    @apply text-grey-darker ;
}

.ca-footer-header {
    @apply inline-block py-2 px-3 text-white uppercase no-underline font-medium tracking-wide ;
}

.ca-footer-link {
    @apply inline-block py-2 px-3 text-white no-underline ;
}

.ca-footer-link:hover {
    @apply text-grey-lighter ;
}

.ca-footer-icon-link {
    @apply  block flex items-center text-white mr-6 no-underline ;
}

.ca-footer-icon-link:hover {
    @apply  text-grey-lighter ;
}

.ca-footer-copyright {
    @apply pt-4 mt-4 text-xs text-white border-t border-white text-center ;
}

.ca-form-label {
    @apply block uppercase tracking-wide text-grey-darker text-xs mb-2 ; 
}

.ca-form-input-field {
    @apply appearance-none block w-full bg-grey-lighter text-grey-darker rounded py-3 px-4 mb-3 leading-tight ;
}

.ca-form-input-field:focus {
    @apply outline-none bg-white;
}