@tailwind preflight;

@tailwind components;

@tailwind utilities;

.card {
    @apply w-full flex items-center justify-center bg-teal-lightest font-sans;
}

.inner-card {
    @apply bg-white rounded shadow p-6 m-4 w-full;
}


.card-title {
    @apply mb-4 text-grey-darkest;
}

.add-field {
    @apply flex mb-4;
}

#list-item {
    @apply flex mb-4 items-center;
}

#hosp-name {
    @apply text-left w-full text-grey-darkest;
}

#hosp-button {
    @apply text-right;
}

.add-field-placeholder {
    @apply shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker;
}

.button {
    @apply flex-no-shrink p-2 border-2 rounded text-teal border-teal;
}

.button:hover {
    @apply text-white bg-teal ;
}

.grid-container {
    display: grid;
    height: 90vh;
    grid-template-columns: 0.2fr 0.9fr 0.3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidebar jobs shifts";
}

#header {
    display: grid;
    height: 15vh;
    grid-template-areas: "header-left header-right";
    grid-template-columns: 0.8fr 0.2fr;
    grid-template-rows: 1fr;
    @apply bg-grey-darkest px-16 py-6 ;
    h1 {
        @apply font-semibold text-4xl text-white tracking-tight w-full flex-grow ;
    }
}

#header-left {
    align-content: start;
    font-size: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#header-right{
    align-content: start;
}

.header-button {
    @apply zdh-button no-underline flex-no-shrink p-2 border-2 rounded text-teal border-teal;
}


#sidebar { 
    grid-area: sidebar;
    background-color: lightgray;
    display: grid;
    justify-content: center;
    align-content: start;
    li {
        margin: 10px;
        list-style-type: none;
    }
}

#jobs { 
    grid-area: jobs;
    h1{
        text-align: center;
        padding: 15px;
        @apply font-semibold text-4xl text-grey-darkest tracking-tight ;
    }
    table {
        width: 90%;
        padding: 5px;
    
        td {
            align-content:right;
        }   
          
        tr {
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
            @apply ml-6 py-4 px-3 bg-grey-light rounded ;
        }
    }
}

#shifts { 
    grid-area: shifts;
}

.zdh-button {
    @apply py-2 px-4 bg-blue text-white text-center my-4 mx-4 align-middle no-underline rounded;
}

@screen lg {
    .inner-card {
        @apply max-w-lg;
    }
}

.login-card {
    @apply w-full max-w-lg mx-auto px-4;
}

.registration-box {
    @apply bg-grey-lightest shadow-md rounded px-8 pt-6 pb-8 mb-8;
}

.card-background {
    @apply bg-grey-lightest shadow-md rounded px-8 pt-6 pb-8 mb-8;
}

.field {
    @apply pb-2 pt-2;
}

.email-label {
    @apply inline-flex leading-tight text-blue-dark text-sm font-bold;
}

.email-field {
    @apply block shadow appearance-none border rounded w-2/3 py-2 px-2 text-grey-darker leading-tight;
}

.email-field:focus {
    @apply outline-none shadow-outline;
}

.password-field {
    @apply block flex shadow appearance-none border rounded w-2/3 py-2 px-2 text-grey-darker leading-tight;
}

.password-field:focus {
    @apply outline-none shadow-outline;
}

.signup-button {
    @apply bg-blue text-white font-bold py-2 px-4 pt-2 mb-2 rounded;
}

.signup-button:hover {
    @apply bg-blue-dark;
}

.signup-button:focus {
    @apply outline-none shadow-outline;
}

.card-text {
    @apply block text-blue-dark text-sm text-center font-bold pb-2;
}