- content_for :modal_content do
    .card
    .inner-card
        = button_tag 'X', id: 'cancel_modal', class: "cancel-button"
        .card-title
            %h1.text-center.mt-6 New Region
= render partial: 'partials/modal'