.card
  .inner-card
    .card-title
      %h1 Staffing Companies
    #list-item.flex
    - @staffco.each do |staffco|
      #form-name
        %p= staffco.name
      #form-name
        %p= staffco.email
      #form-button
        %button.button Remove
    = link_to "Add new company", new_staffco_path, class: "button", remote: true