.list-card
  .form-header Staffing Companies
  .list-item.flex
  - @staffcos.each do |staffcos|
    .list-grid
      .list-name= staffcos.name
      .list-button-area
        %button.button Remove
  .list-grid
    %input.form-input-field{placeholder: "Add"}
    .list-button-area
      %button.button Add